<!-- <ng-template #bigScreen>
<div class="landingMainDiv" fxLayout="columns wrap" fxLayoutAlign="center center">
    <div class="landingSubContainer" fxLayoutAlign="center center">
        <div id="okta-signin-container" class="lgWidget"></div>
    </div>
    <div class="landingSubContainer">
        <img src="assets/img/logo-full.png" class="landingBanner">
    </div>

</div>
</ng-template> -->

<!-- ************************* SMALL SCREEN ************************* -->
<!-- ************************* SMALL SCREEN ************************* -->
<!-- <ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen"> 
    <div class="smlandingMainDiv" fxLayout="columns wrap" fxLayoutAlign="center center">
        <img src="assets/img/logo-full.png" class="smlandingBanner">
    </div>
    <div class="smWidget">
        <div id="okta-signin-container"></div>
    </div>
</ng-template> -->