.modalBannerDiv{
    // width:400px!important;
    text-align: center!important;
    
}

.modalBanner{
    width:300px!important;
    // height:90px!important;
    border-radius: 5px!important;
    border-color: gray!important;
    border-width: 1px!important;
    border-style: solid!important;
    padding:10px!important;
}


.addWebAppSpacer{
   text-align: center!important;
    width:100%!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}