.startMainDiv {
    // border-style: dotted;

    width: 85vw !important;

}

.userName {
    position: fixed !important;
    right: 5% !important;

}

.mainMenuDiv{
 color:#FFFFFF!important;   
}

.locationInfo{
    width:100vw!important;
}