.infoBar{
    border-style: dotted;
    width:100%!important;
    height: 10vh!important;
}
.infoDiv{
    border-style: dotted;
    width:calc(100% / 3)!important;
    height:100%!important;
    
}

.startMenuDiv{
    border-style: dotted;
    width:95%!important;
    height:60%!important;
    
}


.smInfoBar{
    border-style: dotted;
    width:100%!important;
    height: 10vh!important;
    margin-top: 10px!important;
}

.smInfoDiv{
    // border-style: dotted;
    width:calc(100% / 3)!important;
    height:100%!important;
    // display: inline-flex;
}

.smStartMenuDiv{
    // border-style: dotted;
    width:100%!important;
    height:85%!important;
    
}