<div class="MainDiv" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="userName">
        {{strFullName}}
    </div>
    <div class="locationInfo" fxLayout="row wrap" fxLayoutAlign="start center">
        <div class="weatherInfo">{{GetWeatherService?.arrWeather?.name}}</div>
        <div class="weatherInfo">{{GetWeatherService?.arrWeather?.main.temp}} ℃</div>
        <div class="weatherInfo">
            <img src="{{GetWeatherService?.myWeatherIcon}}" class="weatherIcon">
        </div>

    </div>
   

</div>
<div class="mainMenuDiv">
    <p-speedDial [model]="mainAppMenu" type="circle" radius="150" showIcon="pi pi-microsoft" hideIcon="pi pi-times"
        buttonClassName="p-button-outlined" id="mainAppMenu"></p-speedDial>
</div>