.addTaskMainDiv {


    text-align: center !important;
    height: 600px !important;
    width: 100% !important;
}

.addTaskBannerDiv {
    // width: 250px !important;s
    width: 100% !important;
}

.addTaskBanner {
    width: 250px !important;
}

.addTaskDiv {
    border-style: dotted;
    color: black;
    width: 100% !important;
}