.addTaskMainDiv {
    color: #6E6E78;

    text-align: center !important;
    height: 600px !important;
    width: 100% !important;
}

.addTaskBannerDiv {
    // width: 250px !important;s
    width: 100% !important;
}

.addTaskBanner {
    width: 250px !important;
}

.addTaskDiv {
    // border-style: dotted;

    width: 100% !important;

    margin-top: 5px!important;
    margin-bottom: 5px!important;
}

.dividerDiv {
    width: 100% !important;
}

#taskCatDropdown {
    width: 250px !important;
}

#taskTitleInput {
    width: 350px !important;
}

#taskNotesInput{
    width: 350px !important;
}

