<div class="addTaskMainDiv" fxLayout="columns wrap" fxLayoutAlign="center start">
    
    <!-- ///////////////////////////////////////// -->
    <!-- Add New -->
    <!-- ///////////////////////////////////////// -->
    <div *ngIf="bolNew; else notShow1" fxLayout="columns wrap" fxLayoutAlign="center start">
        <div class="addTaskBannerDiv">
            <img src="assets/img/logo-full.png" class="addTaskBanner">
        </div>
        <div class="addTaskDiv">
            <h2>Add New Task</h2>
        </div>
        <div class="dividerDiv">
            <p-divider></p-divider>
        </div>
        <div class="addTaskDiv">
            <p-dropdown [options]="arrDownloadedTaskCat" [(ngModel)]="addTaskSelectedCat"
                placeholder="Select a category" optionLabel="toDoCategories" [showClear]="false" id="taskCatDropdown">
            </p-dropdown>
        </div>
        <div class="addTaskDiv">
            <input type="text" pInputText placeholder="Enter the task title" [(ngModel)]="taskTitle"
                id="taskTitleInput">
        </div>
        <div class="addTaskDiv taskNotes">
            <textarea rows="5" cols="30" pInputTextarea placeholder="Enter notes" [(ngModel)]="taskNotes"
                autoResize="autoResize" id="taskNotesInput"></textarea>
        </div>


        <div class="dividerDiv">
            <p-divider></p-divider>
        </div>
        <div class="addTaskDiv">
            <p-button label="Save" (onClick)="saveTask('newTask')" icon="pi pi-save" iconPos="right"></p-button>
        </div>

    </div>
    <ng-template #notShow1></ng-template>

    <!-- ///////////////////////////////////////// -->
    <!-- Add WIP -->
    <!-- ///////////////////////////////////////// -->
    <div *ngIf="bolWip; else notShow2">
        <div class="addTaskBannerDiv">
            <img src="assets/img/lion-logo-long.png" class="addTaskBanner">
        </div>
        
        <div class="addTaskDiv">
            <h2>Add Workin Progress Task</h2>
        </div>
        <div class="dividerDiv">
            <p-divider></p-divider>
        </div>
        <div class="addTaskDiv">
            <p-dropdown [options]="arrDownloadedTaskCat" [(ngModel)]="addTaskSelectedCat"
                placeholder="Select a category" optionLabel="toDoCategories" [showClear]="false" id="taskCatDropdown">
            </p-dropdown>
        </div>
        <div class="addTaskDiv">
            <input type="text" pInputText placeholder="Enter the task title" [(ngModel)]="taskTitle"
                id="taskTitleInput">
        </div>
        <div class="addTaskDiv taskNotes">
            <textarea rows="5" cols="30" pInputTextarea placeholder="Enter notes" [(ngModel)]="taskNotes"
                autoResize="autoResize" id="taskNotesInput"></textarea>
        </div>


        <div class="dividerDiv">
            <p-divider></p-divider>
        </div>
        <div class="addTaskDiv">
            <p-button label="Save" (onClick)="saveTask('wipTask')" icon="pi pi-spin pi-cog" iconPos="right"></p-button>
        </div>
    </div>
    <ng-template #notShow2></ng-template>

    <!-- ///////////////////////////////////////// -->
    <!-- Add Completed -->
    <!-- ///////////////////////////////////////// -->
    <div *ngIf="bolComp; else notShow3">
        Add Completed
    </div>
    <ng-template #notShow3></ng-template>

</div>