#appMain {
  color: #FFFFFF;
  // border-style: dotted;
  width: 100vw !important;
  height: 100vh !important;
  min-height: 100% !important;
  min-width: 100% !important;
  width: auto !important;
  height: auto !important;

  /* Below for Parallax effect */
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.appMainContainer {
  text-align: center !important;
  color: #FFFFFF;
  // border-style: dotted;
  width: 85vw !important;
  margin: auto !important;
}

.pi {
  text-decoration: none !important;
}

#mainDock {
  .p-dock {
    .p-dock-list {
      padding: 6px !important;
      text-decoration: none !important;
    }
  }

  .p-dock .p-dock-action {
    color: #FFFFFF !important;
    text-decoration: none !important;
  }
}

#smToolbar {
  .p-menubar {
    .p-menuitem-text {
      color: gray !important
    }
  }
}

#mainAppMenu {
  left: 50% !important;
  margin-left: -72px !important;
  top: 40% !important;

  .p-speeddial {

    // box-shadow: 0px 5px 12px 0px #6E6E78!important;
    .p-speeddial-button.p-button.p-button-icon-only {
      color: #FFFFFF !important;
      width: 9rem !important;
      height: 9rem !important;
      border: 5px solid !important;
    }
  }

  .p-speeddial-action {
    color: #ffffff !important;
    width: 8rem !important;
    height: 8rem !important;
    border: solid #FFFFFF;
    -webkit-box-shadow: 0px 5px 12px 0px #6e6e78 !important;
    box-shadow: 0px 5px 12px 0px #6e6e78 !important;
  }

  .p-speeddial-action:hover {
    opacity: .2 !important;
  }

  .pi {
    font-size: 36px !important;
  }
}

.locationInfo {
  width: 100% !important;
  // border-style: dotted;
  // text-align: left;
}

.weatherInfo {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.weatherIcon {
  height: 50px !important;
}

.userName {
  position: fixed !important;
  right: 5% !important;
  top: 2% !important;
  // -webkit-backdrop-filter: blur(70px) !important;
  // backdrop-filter: blur(70px) !important;
  // border-radius: 5px !important;
  // padding: 5px !important;
}

.MainDiv {
  // border-style: dotted;

  width: 85vw !important;
  height: auto !important;
}

.loader {
  margin-top: 10vh !important;
  /* the colors */
  --c1: #F77825;
  --c2: #D3CE3D;
  --c3: #60B99A;
  --c4: #554236;
  /**/

  width: 180px;
  /* control the size */
  aspect-ratio: 8/5;
  --_g: no-repeat radial-gradient(#000 68%, #0000 71%);
  -webkit-mask: var(--_g), var(--_g), var(--_g);
  -webkit-mask-size: 25% 40%;
  background:
    conic-gradient(var(--c1) 50%, var(--c2) 0) no-repeat,
    conic-gradient(var(--c3) 50%, var(--c4) 0) no-repeat;
  background-size: 200% 50%;
  animation:
    back 4s infinite steps(1),
    load 2s infinite;
}

@keyframes load {
  0% {
    -webkit-mask-position: 0% 0%, 50% 0%, 100% 0%
  }

  16.67% {
    -webkit-mask-position: 0% 100%, 50% 0%, 100% 0%
  }

  33.33% {
    -webkit-mask-position: 0% 100%, 50% 100%, 100% 0%
  }

  50% {
    -webkit-mask-position: 0% 100%, 50% 100%, 100% 100%
  }

  66.67% {
    -webkit-mask-position: 0% 0%, 50% 100%, 100% 100%
  }

  83.33% {
    -webkit-mask-position: 0% 0%, 50% 0%, 100% 100%
  }

  100% {
    -webkit-mask-position: 0% 0%, 50% 0%, 100% 0%
  }
}

@keyframes back {

  0%,
  100% {
    background-position: 0% 0%, 0% 100%
  }

  25% {
    background-position: 100% 0%, 0% 100%
  }

  50% {
    background-position: 100% 0%, 100% 100%
  }

  75% {
    background-position: 0% 0%, 100% 100%
  }
}

#mainContainerCard {
  .p-card {
    // border-style: solid;
    color: #FFFFFF !important;

    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    // height: 75vh !important;
    background-color: transparent !important;
    overflow-y: auto;
  }

  .p-card .p-card-content {
    padding: 0px;
    height: 60vh !important;
    width: 85vw !important;
  }
}



/* Hide scrollbar for Chrome, Safari and Opera */
#mainContainerCard {
  .p-card::-webkit-scrollbar {
    display: none;
  }
}


/* Hide scrollbar for IE, Edge and Firefox */
#mainContainerCard {
  .p-card {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.taskMainDiv {
  // border-style: dotted;
  // word-wrap: break-word;
  text-align: center!important;
}

.itemBannerDiv {
  width:100%!important;
  // text-align: center!important;
}

.itemBanner {
  width: 150px !important;
}

.itemSubDiv{
  width:100%!important;
  margin-top: 10px!important;
}

.itemDivider{
  width:100%!important;
  // margin-top: 10px!important;
  // margin-bottom: 10px!important;
}

.itemBtnDiv{
  margin-top: 10px!important; 
}