#appMain {
    color: #FFFFFF;
    // border-style: dotted;
    width: 100vw !important;
    height: 100vh !important;
    min-height: 100% !important;
    min-width: 100% !important;
    width: auto !important;
    height: auto !important;

    /* Below for Parallax effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.appMainContainer {
    text-align: center!important;
    color: #FFFFFF;
    border-style: dotted;
    width: 85vw !important;
    margin: auto!important;
}


#mainDock {
    .p-dock {
        .p-dock-list {
            padding: 6px !important;
        }
    }

    .p-dock .p-dock-action {
        color: #FFFFFF !important;
        text-decoration: none !important;
    }
}

#smToolbar {
    .p-menubar {
        .p-menuitem-text {
            color: gray !important
        }
    }
}