#appMain {
    color: #FFFFFF;
    // border-style: dotted;
    width: 100vw !important;
    height: 100vh !important;
    min-height: 100% !important;
    min-width: 100% !important;
    width: auto !important;
    height: auto !important;

    /* Below for Parallax effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.appMainContainer {
    text-align: center!important;
    color: #FFFFFF;
    // border-style: dotted;
    width: 85vw !important;
    margin: auto!important;
}


#mainDock {
    .p-dock {
        .p-dock-list {
            padding: 6px !important;
        }
    }

    .p-dock .p-dock-action {
        color: #FFFFFF !important;
        text-decoration: none !important;
    }
}

#smToolbar {
    .p-menubar {
        .p-menuitem-text {
            color: gray !important
        }
    }
}

#mainAppMenu{
    left: 50% !important;
    margin-left: -72px !important;
    top: 40% !important;

    .p-speeddial {

        // box-shadow: 0px 5px 12px 0px #6E6E78!important;
        .p-speeddial-button.p-button.p-button-icon-only {
            color: #FFFFFF !important;
            width: 9rem !important;
            height: 9rem !important;
            border: 5px solid !important;
        }
    }

    .p-speeddial-action {
        color: #ffffff !important;
        width: 8rem !important;
        height: 8rem !important;
        border: solid #FFFFFF;
        -webkit-box-shadow: 0px 5px 12px 0px #6e6e78 !important;
        box-shadow: 0px 5px 12px 0px #6e6e78 !important;
    }

    .p-speeddial-action:hover {
        opacity: .2 !important;
    }

    .pi {
        font-size: 36px!important;
    }
}

