<ng-template #bigScreen>
  <app-toolbar></app-toolbar>
  <div class="mainDiv" fxLayout="row wrap" fxLayoutAlign="center start">
    <div class="startMain" fxLayout="row wrap" fxLayoutAlign="center start">

      <div class="infoBar" fxLayout="columns" fxLayoutAlign="center center">
        <div class="infoDiv" fxLayoutAlign="center center">{{GetWeatherService?.arrWeather?.name}}</div>
        <!-- <div class="infoDiv" fxLayoutAlign="center center">{{GetWeatherService?.arrWeather?.main.temp}} ℃</div> -->
        <div class="infoDiv" fxLayoutAlign="center center">{{GetWeatherService?.arrWeather?.main.temp}} </div>

        <div class="infoDiv" fxLayoutAlign="center center"><img src="{{GetWeatherService?.myWeatherIcon}}"
            class="startWeatherIcon">
        </div>
      </div>

      <div class="clockDiv" fxLayout="columns" fxLayoutAlign="center center">
        <div class="clockTile" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="clockTileSub locationTitle" fxLayoutAlign="center center">San Francisco</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strSanFranDate}}</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strSanFranTime}}</div>
        </div>

        <div class="clockTile" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="clockTileSub locationTitle" fxLayoutAlign="center center">New York</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strNYDate}}</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strNYTime}}</div>
        </div>

        <div class="clockTile" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="clockTileSub locationTitle" fxLayoutAlign="center center">London</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strLondonDate}}</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strLondonTime}}</div>
        </div>

        <div class="clockTile" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="clockTileSub locationTitle" fxLayoutAlign="center center">Singapore</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strSingaporeDate}}</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strSingaporeTime}}</div>
        </div>

        <div class="clockTile" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="clockTileSub locationTitle" fxLayoutAlign="center center">Sydney</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strSydneyDate}}</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strSydneyTime}}</div>
        </div>

        <div class="clockTile" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="clockTileSub locationTitle" fxLayoutAlign="center center">UTC</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strUTCDate}}</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strUTCTime}}</div>
        </div>

      </div>
    </div>



  </div>
  <div id="userName">
    {{strFullName}}
  </div>
  <app-add-app-dial></app-add-app-dial>
</ng-template>

<!-- ************************* SMALL SCREEN ************************* -->
<!-- ************************* SMALL SCREEN ************************* -->
<ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">
  <app-toolbar></app-toolbar>
  <div class="smMainDiv" fxLayout="row wrap" fxLayoutAlign="center start">
    <div class="smStartMain" fxLayout="row wrap" fxLayoutAlign="center center">

      <div class="smInfoBar" fxLayout="columns" fxLayoutAlign="center center">
        <div class="smInfoDiv" fxLayoutAlign="center center">{{GetWeatherService?.arrWeather?.name}}</div>
        <div class="smInfoDiv" fxLayoutAlign="center center">{{GetWeatherService?.arrWeather?.main.temp}} ℃
        </div>

        <div class="smInfoDiv" fxLayoutAlign="center center"><img src="{{GetWeatherService?.myWeatherIcon}}"
            class="startWeatherIcon">
        </div>
      </div>

      <div class="smClockDiv" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="smClockTile" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="clockTileSub locationTitle" fxLayoutAlign="center center">San Francisco</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strSanFranDate}}</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strSanFranTime}}</div>
        </div>

        <div class="smClockTile" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="clockTileSub locationTitle" fxLayoutAlign="center center">New York</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strNYDate}}</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strNYTime}}</div>
        </div>

        <div class="smClockTile" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="clockTileSub locationTitle" fxLayoutAlign="center center">London</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strLondonDate}}</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strLondonTime}}</div>
        </div>

        <div class="smClockTile" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="clockTileSub locationTitle" fxLayoutAlign="center center">Singapore</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strSingaporeDate}}</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strSingaporeTime}}</div>
        </div>

        <div class="smClockTile" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="clockTileSub locationTitle" fxLayoutAlign="center center">Sydney</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strSydneyDate}}</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strSydneyTime}}</div>
        </div>

        <div class="smClockTile" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="clockTileSub locationTitle" fxLayoutAlign="center center">UTC</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strUTCDate}}</div>
          <div class="clockTileSub" fxLayoutAlign="center center">{{WorldClockService.strUTCTime}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="userName">
    {{strFullName}}
  </div>
  <app-add-app-dial></app-add-app-dial>
</ng-template>
