// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kent-multi-utils-primary: mat.define-palette(mat.$indigo-palette);
$kent-multi-utils-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kent-multi-utils-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kent-multi-utils-theme: mat.define-light-theme((color: (primary: $kent-multi-utils-primary,
        accent: $kent-multi-utils-accent,
        warn: $kent-multi-utils-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kent-multi-utils-theme);

@import url("../node_modules/primeng/resources/themes/lara-light-blue/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import url("../node_modules/primeicons/primeicons.css");


/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100vw;
  height: 100vh;
  background-image: url('assets/img/bg-cloud-v2.png');
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.appMainDiv {
  // border-style: dotted !important;
  color: #FFFFFF !important;
  width: 100vw !important;
  height: 100vh !important;
}

.smAppMainDiv {
  // border-style: dotted !important;
  color: #FFFFFF !important;
  width: 100vw !important;
  height: 100vh !important;
}

.mainDiv {
  border-style: dotted;
  height: 85vh !important;
  width: 90vw !important;
}

.smMainDiv {
  border-style: dotted;
  height: 90vh !important;
  width: 95vw !important;
  position:fixed!important;
  top: calc(100vh - (100vh - 5vh))!important;
  left:2.5vw!important;
}

.infoBar {
  border-style: dotted;
  width: 100% !important;
  height: 5vh !important;
}

.infoDiv {
  // border-style: dotted;
  width: calc(100% / 3) !important;
  height: 100% !important;
}

.smInfoBar {
  border-style: dotted;
  width: 95% !important;
  height: 10vh !important;
  // margin-top: 10px !important;
  position: fixed!important;
  left:2.5vw!important;
  top: calc(100vh - (100vh - 5vh))!important;
}

.smInfoDiv {
  // border-style: dotted;
  width: calc(100vw / 3) !important;
  height: 100% !important;
  // display: inline-flex;
}

.startWeatherIcon {
  width: 50px !important;
}

.userName{
  position:fixed!important;
  bottom:2vh!important;
  left:2vw!important;
}
.startMain {
  // border-style: solid;
  // margin-top: 40px !important;
  width: 85vw !important;
  height: 75vh !important;
  position:fixed!important;
  top: calc(100vh - (100vh - 10vh))!important;
}

.lgMain{
  // border-style: solid;
  position: fixed!important;
  top: calc(100vh - (100vh - 15vh))!important;
  width:85vw!important;
  height:75vh!important;
}

.smStartMain{
  position: fixed!important;
  top:calc(100vh - (100vh - 15vh))!important;
  // padding:15px!important;
}

.loadingDiv{
  width:100%!important;
}