<ng-template #bigScreen>
    <div class="MainDiv" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="userName">
            {{strFullName}}
        </div>
        <div class="locationInfo" fxLayout="row wrap" fxLayoutAlign="start center">
            <div class="weatherInfo">{{GetWeatherService?.arrWeather?.name}}</div>
            <div class="weatherInfo">{{GetWeatherService?.arrWeather?.main.temp}} ℃</div>
            <div class="weatherInfo">
                <img src="{{GetWeatherService?.myWeatherIcon}}" class="weatherIcon">
            </div>
        </div>

        <div class="toDoMainDiv" fxLayout="columns wrap" fxLayoutAlign="center center" fxLayoutGap="10px">

            <div class="taskDiv">
                <div class="taskDivTitleDiv">
                    <h2>Not Started</h2>
                </div>
                <div class="controlDiv" fxLayoutAlign="center center" (click)="addTask('addNew')"><i
                        class="pi pi-plus"></i></div>
                <div class="taskItemDIV" pDroppable="item" (onDrop)="toNew($event)">

                    <div *ngFor="let item of myToDoNew" pDraggable="item" (onDragStart)="dragStart($event,item)"
                        (onDragEnd)="dragEnd($event)" fxLayoutAlign="center">

                        <div class="taskCard" fxLayout="columns wrap" fxLayoutAlign="start center">
                            <div class="taskImgDiv" (click)="myNewItems(item)" fxLayoutAlign="center center"><img
                                    src="assets/img/lion-logo.png" class="taskImg"></div>
                            <div class="cardDiv" (click)="myNewItems(item)" fxLayout="columns wrap"
                                fxLayoutAlign="start center">
                                <div class="taskSubject"> {{item.subject}} </div>
                                <div class="CatTag">
                                    <div class="taskCategory"> {{item.category}}</div>
                                </div>
                            </div>
                            <div class="taskDelBtn" fxLayoutAlign="center center" (click)="test()"> <i
                                    class="pi pi-times"></i></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="taskDiv">
                <div class="taskDivTitleDiv">
                    <h2>In Progress</h2>
                </div>
                <div class="controlDiv" fxLayoutAlign="center center" (click)="addTask('addWIP')"><i
                        class="pi pi-plus"></i></div>
                <div class="taskItemDIV" pDroppable="item" (onDrop)="toWIP($event)">
                    <div *ngFor="let item of myToDoWIP" pDraggable="item" (onDragStart)="dragStart($event,item)"
                        (onDragEnd)="dragEnd($event)" fxLayoutAlign="center">

                        <div class="taskCard" fxLayout="columns wrap" fxLayoutAlign="start center">
                            <div class="taskImgDiv" (click)="myWipItems(item)" fxLayoutAlign="center center"><img
                                    src="assets/img/squirrel-logo-small.png" class="taskImg"></div>
                            <div class="cardDiv" (click)="myWipItems(item)" fxLayout="columns wrap"
                                fxLayoutAlign="start center">
                                <div class="taskSubject"> {{item.subject}} </div>
                                <div class="CatTag">
                                    <div class="taskCategory"> {{item.category}}</div>
                                </div>
                            </div>
                            <div class="taskDelBtn" fxLayoutAlign="center center" (click)="test()"> <i
                                    class="pi pi-times"></i></div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="taskDiv">
                <div class="taskDivTitleDiv">
                    <h2>Completed</h2>
                </div>
                <div class="controlDiv" fxLayoutAlign="center center" (click)="addTask('addComplete')"><i
                        class="pi pi-plus"></i></div>
                <div class="taskItemDIV" pDroppable="item" (onDrop)="toCompleted($event)">
                    <div *ngFor="let item of myToDoComplete" pDraggable="item" (onDragStart)="dragStart($event,item)"
                        (onDragEnd)="dragEnd($event)" fxLayoutAlign="center">

                        <div class="taskCard" fxLayout="columns wrap" fxLayoutAlign="start center">
                            <div class="taskImgDiv" (click)="myCompleteItems(item)" fxLayoutAlign="center center"><img
                                    src="assets/img/panda-logo.png" class="taskImg"></div>
                            <div class="cardDiv" (click)="myCompleteItems(item)" fxLayout="columns wrap"
                                fxLayoutAlign="start center">
                                <div class="taskSubject"> {{item.subject}} </div>
                                <div class="CatTag">
                                    <div class="taskCategory"> {{item.category}}</div>
                                </div>
                            </div>
                            <div class="taskDelBtn" fxLayoutAlign="center center" (click)="test()"> <i
                                    class="pi pi-times"></i></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <app-add-app-dial></app-add-app-dial>
    </div>
</ng-template>

<!-- ************************* SMALL SCREEN ************************* -->
<!-- ************************* SMALL SCREEN ************************* -->
<ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">

</ng-template>



<!-- ///////////////////////////////////////// -->
<!-- Toast content -->
<!-- ///////////////////////////////////////// -->
<p-toast position="top-right"></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="top-right" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>

        </div>
    </ng-template>
</p-toast>