.toDoMainDiv {
    // border-style: dotted;
    // margin-top: 50px !important;

    width: 80vw !important;
    height: 75vh !important;
    overflow-y: auto !important;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.toDoMainDiv::-webkit-scrollbar {
    display: none;
}



/* Hide scrollbar for IE, Edge and Firefox */
.toDoMainDiv {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.taskDivTitleDiv {
    width: 100% !important;
    
    //     -webkit-backdrop-filter: blur(70px) !important;
    // backdrop-filter: blur(70px) !important;
    // background: transparent !important;
    // border-top: 2px solid rgba(225, 225, 225, 0.3);
    // border-left: 2px solid rgba(225, 225, 225, 0.1);
    // border-right: 1px solid rgba(225, 225, 225, 0.2);
}

// .itemDiv {
//     background-color: #FFFFFF !important;
//     color: gray !important;
//     border-style: solid !important;
//     border-width: 1px !important;
//     border-radius: 5px !important;

//     width: 200px !important;
//     height: 100px !important;
//     margin: 10px !important;
// }

.taskDiv {
    
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 5px !important;
    width: 25vw !important;
    height: 75vh !important;
    

    // padding-top:10px!important;
}

.taskItemDIV {
    // padding-left: auto!important;
    // padding-right: auto!important;
    width: 100% !important;
    height: 100% !important;
    border-style: dotted !important;
}


.completedDiv {
    width: 25vw !important;
    height: 100% !important;
    // border-style: solid !important;

}

// #taskCard {
//     .p-card {
//         margin: 5px !important;
//         height: 50px !important;
//         box-shadow: 0px 5px 12px 0px #6e6e78 !important;

//         .p-card-content {
//             padding: 5px !important;
//         }
//         .p-card-body {
//             padding: 0px !important;
//         }
//     }
// }


 .taskCard {
    margin-top: 5px!important;
    padding-top:10px!important;
    padding-bottom:10px!important;
    background-color: #FFFFFF!important;
    color: gray!important;
    border-radius: 5px!important;
    box-shadow: 0px 5px 12px 0px #6e6e78 !important;
    width:95%!important
 }

 .taskCard:hover {
    margin-top: 5px!important;
    padding-top:10px!important;
    padding-bottom:10px!important;
    background-color: gray!important;
    color: #FFFFFF!important;
    border-radius: 5px!important;
    box-shadow: 0px 5px 12px 0px #6e6e78 !important;
    cursor: pointer !important;
 }
