<p>websites works!</p>


<div class="MainDiv" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="userName">
        {{strFullName}}
    </div>
    <div class="locationInfo" fxLayout="row wrap" fxLayoutAlign="start center">
        <div class="weatherInfo">{{GetWeatherService?.arrWeather?.name}}</div>
        <div class="weatherInfo">{{GetWeatherService?.arrWeather?.main.temp}} ℃</div>
        <div class="weatherInfo">
            <img src="{{GetWeatherService?.myWeatherIcon}}" class="weatherIcon">
        </div>
    </div>
    
</div>
<div class="websitesMainDiv">
    <p-card id="websitesCard">
        Content
    </p-card>
</div>