<ng-template #bigScreen>
    <app-toolbar></app-toolbar>
    <div class="mainDiv" fxLayout="row wrap" fxLayoutAlign="center start">
        <div class="startMain" fxLayout="row wrap" fxLayoutAlign="center start">
            <div class="infoBar" fxLayout="columns" fxLayoutAlign="center center">
                <div class="infoDiv" fxLayoutAlign="center center">{{GetWeatherService?.arrWeather?.name}}</div>
                <div class="infoDiv" fxLayoutAlign="center center">{{GetWeatherService?.arrWeather?.main.temp}} ℃</div>

                <div class="infoDiv" fxLayoutAlign="center center"><img src="{{GetWeatherService?.myWeatherIcon}}"
                        class="startWeatherIcon">
                </div>
            </div>
            <div class="lgMain" fxLayout="row wrap" fxLayoutAlign="center start" *ngIf="myBookmarks; else notShow">

                <div class="searchBox">
                    <input type="text" pInputText (keyup)="applyFilter($event)" id="filterTxt"
                        style="width: 30vw;padding:5px;" />
                </div>

                <div class="bookmarkTableDiv">
                    <table mat-table [dataSource]="myTableSource" class="mat-elevation-z8" id="bookmarkTable">

                        
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef style="width:auto;white-space:nowrap;" > Description </th>
                            <td mat-cell *matCellDef="let element" style="width:auto;white-space:nowrap;"> {{element.description}} </td>
                        </ng-container>

                        
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef style="width:auto;white-space:nowrap;"> Category </th>
                            <td mat-cell *matCellDef="let element" style="width:auto;white-space:nowrap;"> {{element.category}} </td>
                        </ng-container>

                        
                        <ng-container matColumnDef="siteURL">
                            <th mat-header-cell *matHeaderCellDef style="width:auto;white-space:nowrap;"> Site URL </th>
                            <td mat-cell *matCellDef="let element"> <a href="{{element.siteURL}}"
                                    target="_blank" style="width:auto;white-space:normal; ;">{{element.siteURL}}</a> </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="myBookmarkCols; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: myBookmarkCols;" (click)="openProduct(row)"></tr>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div id="userName">
        {{strFullName}}
    </div>

</ng-template>

<!-- ************************* SMALL SCREEN ************************* -->
<!-- ************************* SMALL SCREEN ************************* -->
<ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">
    <app-toolbar></app-toolbar>
    <div class="smMainDiv" fxLayout="row wrap" fxLayoutAlign="center start">
        <div class="smStartMain">
            <div class="smInfoBar" fxLayout="columns" fxLayoutAlign="center center">
                <div class="smInfoDiv" fxLayoutAlign="center center">{{GetWeatherService?.arrWeather?.name}}</div>
                <div class="smInfoDiv" fxLayoutAlign="center center">{{GetWeatherService?.arrWeather?.main.temp}} ℃
                </div>

                <div class="smInfoDiv" fxLayoutAlign="center center"><img src="{{GetWeatherService?.myWeatherIcon}}"
                        class="startWeatherIcon">
                </div>
            </div>
        </div>
    </div>
    <div class="userName">
        {{strFullName}}
    </div>

</ng-template>

<!-- <div class="MainDiv" fxLayout="row wrap" fxLayoutAlign="center center">
    <div *ngIf="myBookmarks; else notShow">
        <div class="userName">
            {{strFullName}}
        </div>
        <div class="locationInfo" fxLayout="row wrap" fxLayoutAlign="start center">
            <div class="weatherInfo">{{GetWeatherService?.arrWeather?.name}}</div>
            <div class="weatherInfo">{{GetWeatherService?.arrWeather?.main.temp}} ℃</div>
            <div class="weatherInfo">
                <img src="{{GetWeatherService?.myWeatherIcon}}" class="weatherIcon">
            </div>
        </div>
        <div class="bookmarkfilterDiv" fxLayout="row wrap" fxLayoutAlign="start center">
            <div><img src="assets/img/panda-logo.png" class="filterImg"></div>
            
            <div>
                <input type="text" pInputText (keyup)="applyFilter($event)" id="filterTxt"
                    style="width: 70vw;padding:5px;" />
            </div>
        </div>
        <div class="bookmarkDiv">
            <p-card id="mainContainerCard">

                <div class="bookmarkTableDiv">
                    <table mat-table [dataSource]="myTableSource" class="mat-elevation-z8" id="bookmarkTable">

                        
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef style="width:auto;white-space:nowrap;" > Description </th>
                            <td mat-cell *matCellDef="let element" style="width:auto;white-space:nowrap;"> {{element.description}} </td>
                        </ng-container>

                        
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef style="width:auto;white-space:nowrap;"> Category </th>
                            <td mat-cell *matCellDef="let element" style="width:auto;white-space:nowrap;"> {{element.category}} </td>
                        </ng-container>

                        
                        <ng-container matColumnDef="siteURL">
                            <th mat-header-cell *matHeaderCellDef style="width:auto;white-space:nowrap;"> Site URL </th>
                            <td mat-cell *matCellDef="let element"> <a href="{{element.siteURL}}"
                                    target="_blank" style="width:auto;white-space:normal; ;">{{element.siteURL}}</a> </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="myBookmarkCols; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: myBookmarkCols;" (click)="openProduct(row)"></tr>
                    </table>
                </div>


            </p-card>
        </div>
        <app-add-app-dial></app-add-app-dial>
    </div>
    <ng-template #notShow>
        <div class="loader"></div>
    </ng-template>
</div>

 -->

<!-- ///////////////////////////////////////// -->
<!-- Toast content -->
<!-- ///////////////////////////////////////// -->
<p-toast position="top-right"></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="top-right" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>

        </div>
    </ng-template>
</p-toast>